body {
    margin: 0;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}

.doc_section {
    flex: 1 40%;
    background-color: #FFC107;
    border-radius: 0.8rem;
}

.video {
    flex: 1 40%;
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 0.8rem;
    padding-bottom: 2rem;
}

.photo {
    flex: 1 100%;
    text-align: center;
    background-color: white;
    border: 1px solid #FF5252;
    border-radius: 0.8rem;
    padding-bottom: 2rem;
}

.header__background {
    background: url("images/header2.jpg") center/cover;
    height: 50vh;
}

.nav {
    margin: 0;
    padding: 0;
}

.nav__navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #CFD8DC;
}

.nav__navigation-link {
    display: block;
    padding: 0.8rem 2rem;
    border: 1px solid #757575;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #FF5252;
    font-weight: bold;
    background-color: #CFD8DC;
}

.menu {
    display: block;
    list-style: none;
    padding: 1rem;
    border: 1px solid #757575;
    border-radius: 0.2rem;
}

.menu__link {
    display: block;
    list-style: none;
    padding: 0.2rem;
    border: 1px solid #757575;
    border-radius: 0.2rem;
    text-decoration: none;
    color: #FF5252;
    font-weight: bold;
    background-color: #CFD8DC;
}

.nav__navigation-link:hover,
.nav__navigation-link:active,
.menu__link:hover,
.menu__link:active
{
    color: #CFD8DC;
    background-color: #FF5252;
    box-shadow:
      0 0.8em 1.8em -0.3em rgba(50, 50, 93, .25),
      0 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
    transform: translateY(-0.1em);
}


.nav__item {
    display: block;
    list-style: none;
    padding: 1rem;
    border: 1px solid #757575;
    border-radius: 0.2rem;
    text-decoration: none;
    color: #FF5252;
    font-weight: bold;
    background-color: #CFD8DC;
}



.nav__items {
    display: block;
}

.background_footer {
  background-color: #212121;
}

section h2 {
    text-align: center;
    color: #212121;
}

@media all and (max-width: 800px) {
    .nav__navigation {
        justify-content: space-around;
    }
    .doc_section {
        flex: 1 100%;
    }
    .video {
        flex: 1 100%;
    }
    .photo {
        flex: 1 100%;
    }
}

@media all and (max-width: 600px) {
    .nav__navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .doc_section {
        flex: 1 100%;
    }
    .video {
        flex: 1 100%;
    }
    .photo {
        flex: 1 100%;
    }
}

.logofooter {
    border-radius: 2rem;
    padding: 1.5rem;
}

.accordeon {
    width: 80%;
    border: 10px solid #fff;
    box-shadow: 0 0 2em grey;
    margin: 10px auto;
}

.accordeon-head {
    padding: 1em 2em;
    background: #c0c0c0;
    cursor: pointer;
}

.accordeon-body {
    display: none;
    padding: 10px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 5px;
}

.sl_ctr{
    position:relative;
    display: inline-block;
    width:800px;
    height:70vh;
    overflow:hidden;
}
.sldr{
    position:relative;
    width:13000px;
    height:300px;
}
.sldr img{
    float:left;
}
.prv_b, .nxt_b{
    position:absolute;
    top:30px;
    display:block;
    width:35px;
    height:35px;
    cursor:pointer;
}
.prv_b:hover, .nxt_b:hover{opacity:.6;}
.prv_b{
    left:10px;
    background:url(images/prv.png) no-repeat;
}
.nxt_b{
    right:10px;
    background:url(images/nxt.png) no-repeat;
}