body {
    margin: 0;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}

.doc_section {
    flex: 1 40%;
    background-color: #FFCDD2;
    border-radius: 0.8rem;
}

.video {
    flex: 1 40%;
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 0.8rem;
    padding-bottom: 2rem;
}

.photo {
    flex: 1 100%;
    text-align: center;
    background-color: #FFC107;
    border: 1px solid #FF5252;
    border-radius: 0.8rem;
    padding-bottom: 2rem;
}

.background {
    background: url("images/header2.jpg") center/cover;
    height: 50vh;
}

.nav {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #CFD8DC;
}

.navigation a {
    display: block;
    padding: 0.8rem 2rem;
    border: 1px solid #757575;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #FF5252;
    font-weight: bold;
    background-color: #CFD8DC;
}

.navigation a:hover,
.navigation a:active,
.menu li:hover,
.menu li:active,
.submenu li a:hover,
.submenu li a:active {
    color: #CFD8DC;
    background-color: #FF5252;
}

ul.menu > li:hover > ul.submenu {
    display: inherit;
}

.menu {
    display: inline-block;
    width: 80%;
}

.submenu {
    display: none;
}

.nav__item {
    display: block;
    list-style: none;
    padding: 1rem;
    border: 1px solid #757575;
    border-radius: 0.2rem;
    text-decoration: none;
    color: #FF5252;
    font-weight: bold;
    background-color: #CFD8DC;
}

.nav__items a {
    display: block;
    list-style: none;
    padding: 0.2rem;
    border: 1px solid #757575;
    border-radius: 0.2rem;
    text-decoration: none;
    color: #FF5252;
    font-weight: bold;
    background-color: #CFD8DC;
}

.nav__items {
    display: block;
}

.background_footer {
  background-color: #212121;
}

section h2 {
    text-align: center;
    color: #212121;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
    .doc_section {
        flex: 1 100%;
    }
    .video {
        flex: 1 100%;
    }
    .photo {
        flex: 1 100%;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .doc_section {
        flex: 1 100%;
    }
    .video {
        flex: 1 100%;
    }
    .photo {
        flex: 1 100%;
    }
}

.logofooter {
    border-radius: 2rem;
    padding: 1.5rem;
}

