@import "colors.css";
:root {
    --ds_bg_color: var(--brown1);
    --v_bg_color: var(--black1);
    --ph_bg_color: var(--grey_blue);
    --nav_bg_color: var(--red1);
    --nav_color_link: var(--black1);
    --nav_bg_link: var(--red1);
    --nav_color_link_hover: white;
    --nav_bg_link_hover: var(--red1);
    --footer_bg_color: var(--black1);
    --menu_font_link: var(--red1);
    --menu_bg_link: var(--grey_blue);
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}

.doc_section {
    flex: 1 40%;
    background-color: var(--ds_bg_color);
    border-radius: 0.8rem;
}

.video {
    flex: 1 40%;
    background-color: var(--v_bg_color);
    border: 1px solid var(--v_bg_color);
    border-radius: 0.8rem;
    padding-bottom: 2rem;
}

.photo {
    flex: 1 100%;
    text-align: center;
    background-color: var(--ph_bg_color);
    border: 1px solid var(--ph_bg_color);
    border-radius: 0.8rem;
    padding-bottom: 2rem;
}


.header__logo {
    position: absolute;
    top: 0;
    left: 3em;
    width: 100px;
    height: 65px;
    background: url(images/osc1.png) left/contain no-repeat;
}

.nav {
    margin: 0;
    padding: 0;
}

.nav__navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--nav_bg_color);
}

.nav__navigation-link {
    display: block;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--v_bg_color);
    font-weight: bold;
    background-color: var(--nav_bg_color);
}

.menu {
    display: block;
    list-style: none;
    padding: 1rem;
    border: 1px solid #757575;
    border-radius: 0.2rem;
}

.menu__link {
    display: block;
    list-style: none;
    padding: 0.2rem;
    border: 1px solid #757575;
    border-radius: 0.2rem;
    text-decoration: none;
    color: var(--menu_font_link);
    font-weight: bold;
    text-align: center;
    background-color: var(--menu_bg_link);
}

.nav__navigation-link:hover,
.nav__navigation-link:active,
.menu__link:hover,
.menu__link:active
{
    color: var(--nav_color_link_hover);
    background-color: var(--nav_bg_link_hover);
    opacity: 0.8;
    box-shadow:
            0 0.8em 1.8em -0.3em rgba(50, 50, 93, .25),
            0 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
    transform: translateY(-0.1em);
}

.background_footer {
    background-color: var(--footer_bg_color);
}

section h2 {
    text-align: center;
    color: #212121;
}

