@import "../main.css";

body {
  margin: 0;
  background-image: url("../images/railway.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  flex: 1 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #FF5252;
  border-radius: 0.8rem;
  padding-bottom: 2rem;
}

.header__background {
  background-image: url("../images/railway.jpg");
  height: 95vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax {
  background-image: url("../images/railway.jpg");
  height: 35vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 800px) {
  .header__logo {
    display: none;
  }
  .nav__navigation {
    justify-content: space-around;
  }
  .photo {
    flex: 1 100%;
  }
}

@media all and (max-width: 600px) {
  .header__logo {
    display: none;
  }
  .nav__navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .photo {
    flex: 1 100%;
  }
}

.logofooter {
  border-radius: 2rem;
  padding: 1.5rem;
}
